@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: 'Poppins', sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 80px;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: 10;
    color: #262626;
    box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.1);
}
.left_header img {
    width: 108px;
    height: 20%;
    margin-right: 30px;
}
.left_header {
    width: 70%;
    display: flex;
    list-style: none;
}
.right_header{
    width: 25%;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li {
    margin-right: 20px;
}
.left_header ul li:hover , .right_border:hover{
    border-bottom: 2px solid #000;
}
.big {
    font-size: 30px;
}
.res {
    display: none;
}
.home{
    background-image: url(./img/home.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}
.home span{
    display: flex;
}
.home h1{
    font-size: 32px;
}
.home p{
    padding: 20px 0px;
}
.home button ,.back button{
    margin-right: 50px;
    padding: 10px 20px;
    background-color:#0067b8;
    color: white;
    border: none;
    border-radius: 3px;
}
.arrow_left_right{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow_left_right i{
    margin-right: 20px;
    font-size: 15px;
}
.img_path{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}
.img_path img{
    width: 40px;
    height: 60%;
}
.img_path a{
    margin-top: 20px;
    color: #0067b8;
    font-size: 14px;
    font-weight: 600;
}
.hero-section{
    margin: 100px 50px;
    display: flex;
    justify-content: center;
}
.laptop-section{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
}
.laptop{
    width: 24%;
}
.laptop button{
    padding: 5px 10px;
    background-color: #ffb900;
    font-size: 15px;
    color: black;
    border: none;
}
.laptop button,.laptop h2,.laptop p,.laptop a{
    margin: 10px 0px;
}
.laptop p{
    font-size: 15px;
    font-weight: 400;
}
.laptop a{
   margin-bottom: 20px;
}
.back{
    background-image: url(./img/back2.webp);
    background-position: center;
    width: 89%;
    height: 85vh;
    margin: 70px;
    background-size: cover;
    padding: 200px 100px;
}
.back p{
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 400;
}
.back p,.back button,.back h2{
    margin-left: 50px;
}

/*  media */
.media{
   margin: 50px 0px 50px 40px;
   text-decoration: none;
}
.fa{
    font-size: 25px;
}

/* back to top button */
.back-to-top button{
    background-color: rgb(150, 137, 137);
    color: black;
    font-size: 15px;
    font-weight: 580;
    padding: 5px 10px;
    border: none;
}
.back-to-top{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.btn_section{
    position: relative;
}
.footer{
    padding: 40px 65px;
    color: black;   
    background-color: #f2f2f2;
}
.footer h3{
    color: #616161;
}
.footer_main{
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}
.footer_main ul{
    list-style: none;
}
.footer_main ul li{
    margin-top: 18px;
}
.down_footer{
    margin-top: 30px;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
}
.down_footer ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.down_footer ul li{
    margin-left: 10px;
}
@media(max-width:768px) {
    nav {
        flex-direction: column;
        padding: 10px 10px;
        font-size: 25px;
        width: 100%;
    }
    .right_header{
        width: 50%;
    }
    nav ul {
        display: none;
    }
    .res {
        display: block;
    }
    .left_header {
        width: 100%;
        padding: 5px 20px;
        justify-content: space-between;
        font-size: auto;
    }
	.left_header img{
        margin-top: 8px;
    }
    .left_header span{
        display: flex;
    }
    .r_m{
        margin-right: 10px;
    }
    .home h1{
        margin-top: 10px;
    }
    .home{
        background: none;
        justify-content: left;
        padding: 0px;
    }
	.home h1,.home span, .home p{
        padding-left: 50px;
    }
    .arrow_left_right{
        display: none;
    }
    .back{
        background: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .back img{
        width: 100%;
    }
    .footer_main{
        flex-direction: column;
    }
    .down_footer{
        flex-wrap: wrap;
    }
    .down_footer ul{
        flex-wrap: wrap;
    }
}
@media(max-width:985px) {
    nav{
        padding: 0px;
        margin: 0px;
    }
}
@media(max-width:1331px) {
    .laptop-section{
        display: flex;
        flex-direction: column;
    }
    .laptop{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
@media(max-width: 547px) {
    .back{
        width: 100%;
    }
}
